body {
  margin: auto;
  background-color: rgb(82, 223, 255);
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
}

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game {
  position: relative;
}

section h1 {
  font-size: 34px;

  color: rgb(80, 80, 80);
}

.info-board {
  width: 12em;
  height: 5em;
  background-color: azure;
  border: 2px solid black;
  position: absolute;
  left: calc(50% - 6em);
  top: calc(50% - 2.5em);
  display: flex;
  justify-items: center;
}

.info-board p {
  margin: 0;
  font-size: 18px;
  padding: 1em;
  background-color: whitesmoke;
}

#snake {
  width: 20em;
  height: 20em;
  background-color: rgb(15, 199, 8);
  border: 2px solid black;
  position: relative;
}

b,
i {
  display: block;
  width: 1em;
  height: 1em;
  position: absolute;
}

b {
  background-color: black;
  display: none;
}

#apple {
  display: none;
}

#apple img {
  top: -0.2em;
  width: 1em;
}

.score p {
  font-size: 20px;
}
